<div id="quote-images-container" class="row">
    <div class="col-3 mb-3">
        <input
            type="file" accept="image/*"
            id="new-quote-image-file"
            class="form-control"
        />
    </div>
</div>

<template id="quote-image-template">
    <div class="col-3 mb-3">
        <input type="file" accept="image/*" name="" id="" class="form-control" />
    </div>
</template>
