<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email With Razor Templates</title>
</head>
<body>
    <p>Imagine this is a header</p>
    @RenderBody()
    <p>Imagine this is a footer</p>
</body>
</html>